.App{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.btn{
    padding: 18px;
    max-width: 100px;
    text-align: center;
    align-self: center;
    margin: 4px;
    background-color: aqua;
    border: 1px solid #707070;
    border-radius: 8px;
    cursor: pointer;
}


.btn:hover{

    background-color: rgb(7, 231, 231);

}

/* .btn:focus{
    box-shadow: 10px solid rgb(3, 233, 233);
} */


.img{
    width: 300px;
    align-self: center;
}

p{
    background-color: blue;
    height: 120px;
    font-size: 100px;
    display: inline;
    
}